<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Template Tiny World</title>
        <script>
        </script>
        <%= pageGuid %>
    </head>

    <body>
        <header class='template-header'>
            Template Tiny World
            <%= header %>
        </header>
        <main  class='template-container'>
            <aside class='template-menu'>
                Menu
                <%= menu %>
            </aside>
            <section class='template-content'>
                    Content
                    <%= content %>
            </section>
        </main>
        <footer class='template-footer'>
            footer
            <%= footer %>
        </footer>
    </body>

</html>